@import url('satoshi.css');

  body{
    background-color: #ffced8;
  }

  .gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  .gallery figure{
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
  padding: 20px;
  }

 .gallery img {
    display: flex;
    object-fit: cover;
width: 100%;
height: 300px;
  }

.gallery figcaption{
    font-family: 'Satoshi-Black';
    color: rgb(14, 0, 75);
    text-align: center;
    font-size: 1.5em;
    position: relative;
    padding: 10px;

  }